*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    color: #4e60e3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
  }

.container {
    width: 100%;
    max-width: 500px;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.064);
    background-color: #f7f8fa;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.search-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#city-input {
   border-radius: 8px;
   padding: 0.7rem 1rem;
   width: 60%;
   border: 1px solid rgba(0, 0, 0, 0.205);

}

#search-button {
    border-radius: 8px;
    padding: 0.75rem 1.2rem;
    background-color: #4e60e3;
    color: #f2f4f8;
    border: none;
    transition: background 0.3s ease;
}

#search-button:hover {
    background-color: #253ada;
}

.error-msg {
    color: #d81515f0;
}

.weather-info {
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    color: #333;
    font-size: 1rem;
    text-align: left;
    animation: fadeIn 0.4s ease-in-out;
}

.weather-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4e60e3;
}

.weather-info p {
    margin-bottom: 0.5rem;
}

.weather-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}